<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">

        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
        integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
        crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
        integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
        crossorigin=""></script>
    </head>
    <body>
        <header>
            <div class="clearfix">
                <div class="container">
                    <h1 class="title"><a href="{{ url_for('home') }}">Where am I?</a></h1>
                    <h1 style="float: right" class="sign-out"><a href="{{ url_for('logout') }}">Sign out</a></h1>
                </div>
            </div>
        </header>
    <main class="hero-section">
        <div class="container">
            <div class="section-tabs">
                <div class="places">
                    {% for place in places %}
                        <article>
                            <a class="name" href="{{ place['url'] }}" target="_blank">{{ place['name'] }}</a>
                            <p class="walking-distance">{{ place['time'] }} min away</p>
                        </article>
                    {% endfor %}
                </div>
            </div>
            <div class='section-map'>
                <div class="nav">
                    <form method="POST" action="/home">
                        {{ form.hidden_tag() }}
        
                        <div class="form-group">        
                            {% if form.address.errors %}
                                {% for error in form.address.errors %}
                                <p class="error-message">{{ error }}</p>
                                {% endfor %}
                            {% endif %}
        
                            {{ form.address(placeholder="Explore nearby") }}
                        </div>
        
                        {{ form.submit(class="btn-primary") }}
                    </form>
                </div>
                <div>
                    <div id="map"></div>
                <!-- </div>
                <a href="{{ url_for('logout') }}" class="sign-out">Sign Out</a>
            </div> -->
        </div>
    </main>

    <script>
        var planes = [
            {% for place in places %}
                ["<h3><a href='{{ place['url'] }}' target='_blank'>{{ place['name'] }}</a></h3> <p>{{ place['time'] }} min away</p>", {{ place['lat'] }}, {{ place['lng'] }} ],
            {% endfor %}
        ];
    
        var map = L.map('map').setView([{{ my_coordinates[0] }}, {{ my_coordinates[1] }}], 15);
        mapLink = '<a href="http://openstreetmap.org">OpenStreetMap</a>';
        L.tileLayer(
            'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; ' + mapLink + ' Contributors',
            maxZoom: 18,
            }
        ).addTo(map);

        for (var i = 0; i < planes.length; i++) {
            marker = new L.marker([planes[i][1],planes[i][2]])
            .bindPopup(planes[i][0])
            .addTo(map);
        }    
    </script>
    </body>
</html>